__pycache__/vlc.cpython-311.pyc
python_vlc-3.0.20123.dist-info/COPYING
python_vlc-3.0.20123.dist-info/INSTALLER
python_vlc-3.0.20123.dist-info/METADATA
python_vlc-3.0.20123.dist-info/RECORD
python_vlc-3.0.20123.dist-info/REQUESTED
python_vlc-3.0.20123.dist-info/top_level.txt
python_vlc-3.0.20123.dist-info/WHEEL
